# Entorno virtual
.venv/
venv/
env/

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de herramientas/IDE
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log